body {
  background-color: mediumaquamarine;
}

header {
  background-color: #ffffff;
  .banner {
    background: #aa0e17;
    color: #fefffd;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: clamp(16px, 2vw, 24px);
    text-align: center;
    padding: 10px 0;
  }
  .navbar-brand {
    img {
      width: 170px;
      height: 30px;

      @media (min-width: 1024px) {
        width: 254px;
        height: 45px;
      }
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-size: 30px;
        color: #141718;
        text-decoration: none;
        transition: all 0.3s ease;
        padding: 15px;
        text-align: center;

        @media (min-width: 1024px) {
          font-size: 16px;
          text-align: left;
          padding: 0 15px;
        }

        &.show {
          &::after {
            transform: rotate(180deg);
          }
        }

        &::after {
          background: url('../img/dropdown.svg') no-repeat center center;
          background-size: contain;
          border: none;
          padding-top: 5px;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 30px;

          @media (min-width: 1024px) {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 9px;
          }
        }

        &:hover {
          color: #aa0e17;

          &::after {
            background: url('../img/dropdown-red.svg') no-repeat center center;
            background-size: contain;
          }
        }

        &:focus {
          color: #aa0e17;

          &::after {
            background: url('../img/dropdown-red.svg') no-repeat center center;
            background-size: contain;
          }
        }
      }

      .dropdown-menu {
        border: 1px solid #aa0e1708;

        ul {
          padding-left: 20px;

          @media (max-width: 1024px) {
            padding-left: 0;
          }
        }

        li {
          list-style: none;
        }

        .dropdown-item {
          font-family: 'Source Sans Pro';
          font-weight: 400;
          font-size: 14px;
          color: #141718;
          text-decoration: none;
          transition: all 0.3s ease;
          padding: 20px 20px 0;
          text-align: left;
          //   word-wrap: break-word;
          //   overflow-wrap: break-word;
          //   white-space: normal;

          @media (max-width: 1024px) {
            text-align: center;
            font-size: 20px;
            padding: 0 20px 20px;
          }

          &:hover {
            color: #aa0e17;
            background: none;
            .btn-dropdown {
              background: url('../img/dropdown-red.svg') no-repeat center center;
              background-size: contain;
            }
          }
        }

        .dropdown-nested-menu {
          padding-bottom: 0;

          @media (max-width: 1024px) {
            ul {
              padding-bottom: 20px;
            }
          }
        }

        .dropdown-nested-item {
          padding: 0;
          width: 100%;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;

          @media (max-width: 1024px) {
            font-size: 18px;
          }
        }

        .btn-dropdown {
          background: none;
          border: none;
          padding: 0;
          margin: 0 0 0 5px;
          cursor: pointer;

          background: url('../img/dropdown.svg') no-repeat center center;
          background-size: contain;
          width: 10px;
          height: 10px;

          &.active {
            transform: rotate(180deg);
          }

          @media (max-width: 1024px) {
            width: 15px;
            height: 15px;
          }

          &:hover {
            background: url('../img/dropdown-red.svg') no-repeat center center;
            background-size: contain;
          }
        }
      }
    }
  }

  .btn-mail,
  .btn-call {
    background: #aa0e1708;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    svg {
      width: 20px;
      height: 20px;
      color: #aa0e17;
      transition: all 0.3s ease;
    }
  }

  .btn-mail:hover,
  .btn-call:hover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #aa0e17;
  }

  .btn-mail:hover svg,
  .btn-call:hover svg {
    color: #fefffd;
  }

  .btn-request {
    background: #aa0e17;
    color: #fefffd;
    border: none;
    border-radius: 15px;
    font-family: 'Source Sans Pro';
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #141718;
      color: #fefffd;
    }

    @media (max-width: 1024px) {
      width: 100%;
      height: 45px;
    }
  }

  .navbar-toggler-icon {
    background-image: url('../img/burger.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: url('../img/close.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggler:active {
    border: none;
  }
}
