.hero {
  &-slide {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0.6) 39.36%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../img/653ab7539aaa5c3d9bfe6016ec3fd41472ea4588.png') no-repeat 85%
        center;
    background-size: cover;
    height: 620px;
    border-radius: 15px;
    padding: 15px 15px 90px;
    margin-bottom: 15px;
    @media (min-width: 1024px) {
      padding: 40px;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 19.97%,
          rgba(0, 0, 0, 0.8) 71.44%
        ),
        url('../img/653ab7539aaa5c3d9bfe6016ec3fd41472ea4588.png') no-repeat
          center center;
    }
    h1 {
      font-family: 'Source Sans Pro';
      font-weight: bold;
      font-size: clamp(30px, 5vw, 55px);
      text-transform: capitalize;
      max-width: 720px;
      color: #fefffd;
    }
    p {
      font-family: 'Source Sans Pro';
      font-weight: 600;
      font-style: normal;
      font-size: clamp(15px, 2vw, 20px);
      text-align: center;
      margin-bottom: 40px;
      max-width: 537px;
      color: #fefffd;
    }

    .slide-btns {
      width: 100%;
      @media (min-width: 1024px) {
        width: auto;
      }
    }

    .btn {
      font-family: 'Source Sans Pro';
      font-size: clamp(14px, 2vw, 16px);
      text-transform: uppercase;
      border-radius: 15px;
      height: 50px;
      width: 100%;
      min-width: 240px;
      margin: 5px;
      svg {
        margin-left: 4px;
        width: 20px;
        height: 20px;
      }

      &-order {
        background: #fefffd;
        border: 1px solid #fefffd;
        color: #141718;
        &:hover {
          background: #141718;
          color: #fefffd;
        }
      }
      &-open {
        background: transparent;
        color: #000;
        border: 1px solid #fefffd;
        color: #fefffd;
        &:hover {
          background: #fefffd;
          color: #141718;
        }
      }
    }
  }
  &-swiper-nav {
    position: absolute;
    bottom: 45px;
    z-index: 1;
    padding: 0 40px;
    @media (min-width: 1024px) {
      bottom: 60px;
    }
    .btn {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      border: 1px solid #fefffd;
      color: #fefffd;
      margin: 0 2.5px;
      &:hover {
        background: #fefffd;
        color: #141718;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
