.news {
  margin: 50px 0;
  .news-items {
    .news-item {
      border: 1px solid #aa0e17;
      border-radius: 15px;

      &-img {
        height: 200px;
        border-radius: 15px;
        overflow: hidden;

        z-index: 0;
        img {
          z-index: 0;
        }
      }
      &-text {
        position: relative;
        height: 200px;
        border-top: 1px solid #aa0e17;
        border-radius: 15px;
        background: #fefffd;
        padding: 20px;
        margin-top: -15px;
        z-index: 1;
        transition: all 0.3s ease;
        h4 {
          font-family: 'Source Sans Pro';
          font-weight: 700;
          font-size: 21px;
          line-height: 110%;
          letter-spacing: 0%;
          color: #aa0e17;
        }
        p:not(.date) {
          font-family: 'Source Sans Pro';
          font-weight: 400;
          font-size: 14px;
          line-height: 110%;
          letter-spacing: 0%;
          color: #141718;
          height: 75px;
          overflow: hidden;
        }
        a {
          font-family: 'Source Sans Pro';
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;
          text-decoration: underline;
          text-decoration-color: #aa0e17;
          color: #141718;
          transition: all 0.3s ease;
          &:hover {
            color: #aa0e17;
            text-decoration-color: #141718;
          }
        }
        .date {
          font-family: 'Source Sans Pro';
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #14171899;
          margin: 0;
        }
        .gradient {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: linear-gradient(
            0deg,
            #fefffd 0%,
            rgba(254, 255, 253, 0) 100%
          );
        }
        &.show-news {
          height: auto;
          .gradient {
            display: none;
          }
          p:not(.date) {
            height: auto;
          }
        }
      }
    }
  }
}
