.offer {
  margin: 50px 0;
  @media (max-width: 1024px) {
    h2 {
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .offer-item {
    padding: 20px;
    border: 1px solid #aa0e17;
    border-radius: 15px;
    transition: all 0.3s ease;
    height: 170px;
    h4 {
      font-family: 'Source Sans Pro';
      font-weight: 700;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: 0%;
      color: #aa0e17;
      margin-bottom: 15px;
      transition: color 0.3s ease;
    }
    p {
      font-family: 'Source Sans Pro';
      font-weight: 400;
      font-size: 14px;
      line-height: 110%;
      letter-spacing: 0%;
      color: #141718;
      margin: 0;
      transition: color 0.3s ease;
    }

    &:hover {
      background: #aa0e17;
      color: #fff;
      h4,
      p {
        color: #fff;
      }
    }
  }
  @media (max-width: 768px) {
    .swiper-slide:nth-child(4n + 3),
    .swiper-slide:nth-child(4n + 4) {
      .offer-item {
        background: #aa0e17;
        color: #fff;
        h4,
        p {
          color: #fff;
        }
      }
    }
  }
}
