.products {
  margin: 50px 0;
  p {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .products-items {
    .products-item {
      border: 1px solid #aa0e17;
      border-radius: 15px;
      height: 310px;
      display: flex;
      flex-direction: column;
      justify-content: start;

      &.hide-product {
        display: none;
      }

      &-text {
        border-bottom: 1px solid #aa0e17;
        border-radius: 15px;
        padding: 20px;
        z-index: 1;
        background: #fefffd;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        h4 {
          font-family: 'Source Sans Pro';
          font-weight: 700;
          font-size: clamp(20px, 2.5vw, 23px);
          line-height: 110%;

          color: #aa0e17;
        }
        a {
          font-family: 'Source Sans Pro';
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;
          text-decoration: underline;
          color: #141718;
          text-decoration-color: #aa0e17;
          transition: all 0.3s ease;
          &:hover {
            color: #aa0e17;
            text-decoration-color: #141718;
          }
        }
      }
      &-img {
        width: 100%;
        height: 210px;
        border-radius: 15px;
        overflow: hidden;
        margin-top: -15px;
        z-index: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .btn-show {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    background: #aa0e17;
    color: #fefffd;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    svg {
      margin-left: 4px;
      width: 20px;
      height: 20px;
    }
    &:hover {
      background: #141718;
      color: #fefffd;
    }
    &:hover svg {
      color: #fefffd;
    }
  }
}
