.regions {
  overflow-x: hidden;
  margin: 50px 0;
  .container {
    overflow-x: visible;
  }
  .map-container {
    overflow-x: scroll;
    .map {
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        height: 400px;
      }
      svg {
        width: auto;
        height: 100%;
      }
      path {
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }
}
