.testimonials {
  margin: 50px 0;
  h2 {
    text-align: start;
    margin-bottom: 20px;
  }
  .testimonials-item {
    border: 1px solid #aa0e17;
    border-radius: 15px;
    padding: 20px;

    &-text {
      p {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-size: clamp(14px, 1.5vw, 16px);
        line-height: 110%;
        letter-spacing: 0%;
        color: #141718;
      }
    }
    &-author {
      p {
        font-family: 'Source Sans Pro';
        font-weight: 600;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: 0%;
        color: #141718;
        margin: 0;
      }
      & div:last-child {
        height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  @media (min-width: 1024px) {
    overflow: hidden;

    .swiper {
      overflow: visible;
    }
    .swiper-slide {
      width: 483px;
    }
  }
}
