.text {
  margin-top: 50px;
  margin-bottom: 100px;
  .text-content {
    height: 650px;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: all 0.3s ease;
    @media (min-width: 1024px) {
      height: 300px;
    }
    &.show-text {
      height: auto;
    }
  }

  .gradient-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
    background: linear-gradient(0deg, #fefffd 0%, rgba(254, 255, 253, 0) 100%);
    &.hide-gradient {
      display: none;
    }
  }
  h2 {
    text-align: start;
    margin: 50px 0 20px;
  }

  h3 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: clamp(24px, 2.5vw, 30px);
    line-height: 110%;
    color: #141718;
    margin: 30px 0 20px;
  }

  p,
  li {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #141718;
  }

  a {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #aa0e17;
    color: #141718;
    transition: all 0.3s ease;
    &:hover {
      color: #aa0e17;
      text-decoration-color: #141718;
    }
  }
}
